<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <button onclick="vm.openForm()">Open Form</button>
    <h1>{{ 'Nilai a :' + Total}}</h1>
    <h1>{{ 'Rata-Rata :' + Rata}}</h1>
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script>
   var vm = new Vue({
      el: '#app',
      data: {
       a : 0,
       Rata : 0,
       Total : 0
      },
      methods : {
         openForm : function(){
            for(var i = 0 ; i< 4 ; i++){
                this.a = prompt("Masukan Nilai a");
                for(var x = 0 ;x < this.a ; x++){
                    this.Total ++;
                }
              }
              this.Rata = this.Total / 4;
          }
      }
  })
  </script>
</body>
</html>