.header{
    padding-top: 5px;
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: larger;
}

.body{
    display: flex;
    justify-content: center;
}

table, th, td{
    padding: 10px;
    font-size: xx-large;
    border: 1px solid black;
    background-color: lightblue;
}
