<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <form>
     <input v-model ="message" placeholder="ketikkan kata kunci">
        <ul>
            <li >{{books[0]}}</li>
            <li >{{books[1]}}</li>
            <li >{{books[2]}}</li>
            <li >{{books[3]}}</li>
            <li >{{books[4]}}</li>
        </ul>
    <input type="button" value="test" onclick="asd()">
    </form>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script>
   var vm = new Vue({
        el: '#app',
        data: {
        message:"",
        books : [
            'Kalkulus Dasar',
            'Fisika Dasar',
            'Aljabar Linier Elementer',
            'Aljabar Abstrak',
            'Algoritma Pemrograman'
        ]
        },
        
  })
  </script>
</body>
</html>